.addnewbill-container {
  min-height: 100vh;
}
.addnewbill-addnewbill {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.addnewbill-blurred-background2 {
  top: -64px;
  left: 261px;
  width: 1950px;
  height: 1097px;
  position: absolute;
  border-color: transparent;
}
.addnewbill-rectangle25 {
  top: 289px;
  left: 498px;
  width: 738px;
  height: 658px;
  position: absolute;
  border-color: rgba(50, 19, 117, 1);
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
}
.addnewbill-frame28 {
  top: 530px;
  left: 779px;
  width: 389px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.addnewbill-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame26 {
  top: 402px;
  left: 778px;
  width: 389px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.addnewbill-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-rectangle2 {
  top: 0px;
  left: 280px;
  width: 1300px;
  height: 72px;
  position: absolute;
  border-color: transparent;
}
.addnewbill-rectangle3 {
  top: -8px;
  left: -9px;
  width: 289px;
  height: 1032px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.addnewbill-pn-logoimage1 {
  top: 20px;
  left: 50px;
  width: 180px;
  height: 126px;
  position: absolute;
  border-color: transparent;
  border-radius: 0 10px 0 0;
}
.addnewbill-rectangle10 {
  top: 179px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.addnewbill-rectangle15 {
  top: 240px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.addnewbill-rectangle16 {
  top: 301px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.addnewbill-rectangle17 {
  top: 362px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.addnewbill-rectangle18 {
  top: 423px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.addnewbill-rectangle19 {
  top: 484px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.addnewbill-rectangle20 {
  top: 545px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.addnewbill-rectangle21 {
  top: 606px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.addnewbill-text04 {
  top: 191px;
  left: 102px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-text06 {
  top: 252px;
  left: 102px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-text08 {
  top: 313px;
  left: 108px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-text10 {
  top: 374px;
  left: 111px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-text12 {
  top: 435px;
  left: 95px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-text14 {
  top: 496px;
  left: 103px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-text16 {
  top: 557px;
  left: 106px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-text18 {
  top: 618px;
  left: 99px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-rectangle14 {
  top: 17px;
  left: 1136px;
  width: 121px;
  height: 30px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.addnewbill-text20 {
  top: 24px;
  left: 1136px;
  color: rgba(30, 30, 30, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-mdiaccount {
  top: 6px;
  left: 1301px;
  width: 60px;
  height: 58px;
  position: absolute;
}
.addnewbill-frame23 {
  top: 402px;
  left: 500px;
  width: 400px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;

}
.addnewbill-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame25 {
  top: 466px;
  left: 567.5px;
  width: 140px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  justify-content: flex-end;
  background-color: rgba(173, 164, 191, 1);
  border-radius: 20px;
}
.addnewbill-frame231 {
  display: flex;
  padding: 10px;
  margin-right: 32px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(173, 164, 191, 1);
}
.addnewbill-text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame251 {
  top: 530px;
  left: 567.5px;
  width: 140px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  justify-content: flex-end;
  background-color: rgba(173, 164, 191, 1);
  border-radius: 20px;
}
.addnewbill-frame232 {
  display: flex;
  padding: 10px;
  margin-right: 30px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(173, 164, 191, 1);
}
.addnewbill-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame252 {
  top: 594px;
  left: 567.5px;
  width: 140px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  justify-content: flex-end;
  background-color: rgba(173, 164, 191, 1);
  border-radius: 20px;
}
.addnewbill-frame233 {
  display: flex;
  padding: 10px;
  margin-right: 40px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(173, 164, 191, 1);
}
.addnewbill-text28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame253 {
  top: 658px;
  left: 567.5px;
  width: 140px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  justify-content: flex-end;
  background-color: rgba(173, 164, 191, 1);
  border-radius: 20px;
}
.addnewbill-frame234 {
  display: flex;
  padding: 10px;
  margin-right: 30px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(173, 164, 191, 1);
}
.addnewbill-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame254 {
  top: 722px;
  left: 567.5px;
  width: 140px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  justify-content: flex-end;
  background-color: rgba(173, 164, 191, 1);
  border-radius: 20px;
}
.addnewbill-frame235 {
  display: flex;
  padding: 10px;
  margin-right: 40px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(173, 164, 191, 1);
}
.addnewbill-text32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame236 {
  top: 786px;
  left: 567.5px;
  width: 140px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(173, 164, 191, 1);
}
.addnewbill-text34 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-ellipse1 {
  top: 211px;
  left: 552px;
  width: 173px;
  height: 163px;
  position: absolute;
  border-color: rgba(50, 19, 117, 1);
  border-style: solid;
  border-width: 0px;
}
.addnewbill-rectangle26 {
  top: 860px;
  left: 779px;
  width: 155px;
  height: 36px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.addnewbill-text36 {
  top: 867px;
  left: 771px;
  color: rgba(255, 255, 255, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-rectangle27 {
  top: 860px;
  left: 1012px;
  width: 155px;
  height: 36px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.addnewbill-text38 {
  top: 867px;
  left: 1013px;
  color: rgba(255, 255, 255, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-iconparkoutlinefileadditionone {
  top: 255px;
  left: 607px;
  width: 75px;
  height: 76px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.addnewbill-group {
  top: 6.333333492279053px;
  left: 12.5px;
  width: 50px;
  height: 63.33333206176758px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.addnewbill-vector {
  top: 0px;
  left: 0px;
  width: 50px;
  height: 63px;
  position: absolute;
}
.addnewbill-vector1 {
  top: -1.5894572413799324e-7px;
  left: 34.375px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.addnewbill-rectangle31 {
  top: 105px;
  left: 334px;
  width: 478px;
  height: 72px;
  position: absolute;
  border-color: transparent;
}
.addnewbill-text40 {
  top: 120px;
  left: 342px;
  color: rgba(50, 19, 117, 1);
  width: 456px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-text42 {
  top: 333px;
  left: 779px;
  color: rgba(50, 19, 117, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame27 {
  top: 466px;
  left: 779px;
  width: 389px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.addnewbill-text44 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame29 {
  top: 594px;
  left: 779px;
  width: 389px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.addnewbill-text46 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame30 {
  top: 658px;
  left: 779px;
  width: 389px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.addnewbill-text48 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame31 {
  top: 712px;
  left: 779px;
  width: 389px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.addnewbill-text50 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addnewbill-frame24 {
  top: 786px;
  left: 779px;
  width: 389px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.addnewbill-text52 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
