.employee-dashboardcopy1-container {
  min-height: 100vh;
}
.employee-dashboardcopy1-employee-dashboardcopy1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.employee-dashboardcopy1-blurred-background1 {
  top: -64px;
  left: 261px;
  width: 1514px;
  height: 1097px;
  position: absolute;
  border-color: transparent;
}
.employee-dashboardcopy1-biqrcode {
  top: 90px;
  left: 761px;
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.employee-dashboardcopy1-rectangle31 {
  top: 280px;
  left: 349px;
  width: 1032px;
  height: 326px;
  position: absolute;
  border-color: rgba(50, 19, 117, 1);
  border-style: solid;
  border-width: 7px;
  border-radius: 15px;
}
.employee-dashboardcopy1-materialsymbolslocationon {
  top: 75px;
  left: 736px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.employee-dashboardcopy1-rectangle2 {
  top: 0px;
  left: 280px;
  width: 1255px;
  height: 72px;
  position: absolute;
  border-color: transparent;
}
.employee-dashboardcopy1-rectangle3 {
  top: -8px;
  left: -9px;
  width: 289px;
  height: 1032px;
  position: absolute;
  border-color: transparent;
}
.employee-dashboardcopy1-pn-logoimage1 {
  top: 20px;
  left: 50px;
  width: 180px;
  height: 126px;
  position: absolute;
  border-color: transparent;
  border-radius: 0 10px 0 0;
}
.employee-dashboardcopy1-rectangle6 {
  top: 105px;
  left: 996px;
  width: 418px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 120px;
}
.employee-dashboardcopy1-text {
  top: 113px;
  left: 1119px;
  color: rgba(0, 0, 0, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-icons8search241 {
  top: 109px;
  left: 1011px;
  width: 28px;
  height: 27px;
  position: absolute;
  border-color: transparent;
}
.employee-dashboardcopy1-rectangle7 {
  top: 170px;
  left: 836px;
  width: 189px;
  height: 36px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.employee-dashboardcopy1-rectangle32 {
  top: 646px;
  left: 1011px;
  width: 189px;
  height: 36px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.employee-dashboardcopy1-rectangle22 {
  top: 170px;
  left: 1083px;
  width: 258px;
  height: 36px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.employee-dashboardcopy1-text05 {
  top: 180px;
  left: 849px;
  color: rgba(255, 255, 255, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text07 {
  top: 656px;
  left: 1024px;
  color: rgba(255, 255, 255, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text09 {
  top: 178px;
  left: 1146px;
  color: rgba(255, 255, 255, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-rectangle10 {
  top: 179px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.employee-dashboardcopy1-rectangle15 {
  top: 240px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.employee-dashboardcopy1-rectangle16 {
  top: 301px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.employee-dashboardcopy1-rectangle17 {
  top: 362px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.employee-dashboardcopy1-rectangle18 {
  top: 423px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.employee-dashboardcopy1-rectangle19 {
  top: 484px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.employee-dashboardcopy1-rectangle20 {
  top: 545px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.employee-dashboardcopy1-rectangle21 {
  top: 606px;
  left: 23px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.employee-dashboardcopy1-text11 {
  top: 191px;
  left: 102px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text13 {
  top: 252px;
  left: 102px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text15 {
  top: 313px;
  left: 108px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text17 {
  top: 374px;
  left: 107px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text19 {
  top: 435px;
  left: 95px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text21 {
  top: 496px;
  left: 103px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text23 {
  top: 557px;
  left: 106px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text25 {
  top: 618px;
  left: 99px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-rectangle14 {
  top: 20px;
  left: 1146px;
  width: 121px;
  height: 30px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.employee-dashboardcopy1-text27 {
  top: 25px;
  left: 1146px;
  color: rgba(30, 30, 30, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-mdiaccount {
  top: 2px;
  left: 1331px;
  width: 60px;
  height: 58px;
  position: absolute;
}
.employee-dashboardcopy1-mdiaccount1 {
  top: 499px;
  left: 720px;
  width: 60px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.employee-dashboardcopy1-materialsymbolspersonplay {
  top: 16px;
  left: -13px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.employee-dashboardcopy1-materialsymbolsdownloadrounded {
  top: 174px;
  left: 1106px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.employee-dashboardcopy1-ellipse4 {
  top: 280px;
  left: 1000px;
  width: 394px;
  height: 332px;
  position: absolute;
  border-color: transparent;
}
.employee-dashboardcopy1-ellipse3 {
  top: 332px;
  left: 1072px;
  width: 281px;
  height: 261px;
  position: absolute;
  border-color: transparent;
}
.employee-dashboardcopy1-ellipse1 {
  top: 374px;
  left: 1165px;
  width: 275px;
  height: 272px;
  position: absolute;
  border-color: rgba(50, 19, 117, 1);
  border-style: solid;
  border-width: 0px;
}
.employee-dashboardcopy1-ellipse2 {
  top: 280px;
  left: 931px;
  width: 281px;
  height: 187px;
  position: absolute;
  border-color: transparent;
}
.employee-dashboardcopy1-text29 {
  top: 317px;
  left: 1009px;
  color: rgba(255, 255, 255, 1);
  width: 273px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text31 {
  top: 348px;
  left: 976px;
  color: rgba(255, 255, 255, 1);
  width: 377px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text33 {
  top: 314px;
  left: 379px;
  color: rgba(0, 0, 0, 1);
  width: 552px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-icroundmarkemailunread {
  top: 389px;
  left: 414px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.employee-dashboardcopy1-rectangle33 {
  top: 392px;
  left: 457px;
  width: 304px;
  height: 25px;
  position: absolute;
  border-color: rgba(173, 7, 150, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.employee-dashboardcopy1-rectangle35 {
  top: 489px;
  left: 461px;
  width: 304px;
  height: 25px;
  position: absolute;
  border-color: rgba(173, 7, 150, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.employee-dashboardcopy1-rectangle36 {
  top: 538px;
  left: 459px;
  width: 304px;
  height: 25px;
  position: absolute;
  border-color: rgba(173, 7, 150, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.employee-dashboardcopy1-rectangle34 {
  top: 437px;
  left: 461px;
  width: 304px;
  height: 25px;
  position: absolute;
  border-color: rgba(173, 7, 150, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.employee-dashboardcopy1-text35 {
  top: 396px;
  left: 443px;
  color: rgba(0, 0, 0, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text37 {
  top: 493px;
  left: 420px;
  color: rgba(0, 0, 0, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text39 {
  top: 542px;
  left: 444px;
  color: rgba(0, 0, 0, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-text41 {
  top: 441px;
  left: 447px;
  color: rgba(0, 0, 0, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-mdiaddressmarker {
  top: 438px;
  left: 412px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.employee-dashboardcopy1-mdimobilephone {
  top: 484px;
  left: 414px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.employee-dashboardcopy1-materialsymbolsdaterange {
  top: 535px;
  left: 412px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.employee-dashboardcopy1-group {
  top: 426px;
  left: 865px;
  width: 111px;
  height: 102px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.employee-dashboardcopy1-vector {
  top: 12.75px;
  left: 13.875px;
  width: 14px;
  height: 13px;
  position: absolute;
}
.employee-dashboardcopy1-vector1 {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 89px;
  position: absolute;
}
.employee-dashboardcopy1-vector2 {
  top: 12.75px;
  left: -3.637978807091713e-12px;
  width: 97px;
  height: 89px;
  position: absolute;
}
.employee-dashboardcopy1-vector3 {
  top: 45px;
  left: -50px;
  width: 200px;
  height: 89px;
  position: absolute;
}
.employee-dashboardcopy1-vector4 {
  top: 76.5px;
  left: 48.5625px;
  width: 62px;
  height: 25px;
  position: absolute;
}
.employee-dashboardcopy1-rectangle43 {
  top: 993px;
  left: 280px;
  width: 1255px;
  height: 40px;
  position: absolute;
  border-color: transparent;
}
.employee-dashboardcopy1-text43 {
  top: 1002px;
  left: 469px;
  color: rgba(255, 255, 255, 1);
  width: 680px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.employee-dashboardcopy1-rectangle51 {
  top: 105px;
  left: 334px;
  width: 446px;
  height: 72px;
  position: absolute;
  border-color: transparent;
}
.employee-dashboardcopy1-text45 {
  top: 120px;
  left: 342px;
  color: rgba(50, 19, 117, 1);
  width: 456px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.attendanceButton{
  background-color: #235725;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}
