.update-invent-item-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.update-invent-item-update-inventitem {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.update-invent-item-blurred-background {
  top: -64px;
  left: 261px;
  width: 1514px;
  height: 1097px;
  position: absolute;
}
.update-invent-item-menubar {
  top: -4px;
  left: 0px;
  width: 289px;
  height: 1032px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.update-invent-item-rectangle3 {
  top: 0px;
  left: 0px;
  width: 289px;
  height: 1032px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.update-invent-item-pn-logoimage1 {
  top: 28px;
  left: 59px;
  width: 180px;
  height: 126px;
  position: absolute;
  border-radius: 0 10px 0 0;
}
.update-invent-item-rectangle10 {
  top: 187px;
  left: 32px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-radius: 120px;
}
.update-invent-item-rectangle15 {
  top: 248px;
  left: 32px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-radius: 120px;
}
.update-invent-item-rectangle16 {
  top: 309px;
  left: 32px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-radius: 120px;
}
.update-invent-item-rectangle17 {
  top: 370px;
  left: 32px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-radius: 120px;
}
.update-invent-item-rectangle18 {
  top: 431px;
  left: 32px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-radius: 120px;
}
.update-invent-item-rectangle19 {
  top: 492px;
  left: 32px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-radius: 120px;
}
.update-invent-item-rectangle20 {
  top: 553px;
  left: 32px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-radius: 120px;
}
.update-invent-item-rectangle21 {
  top: 614px;
  left: 32px;
  width: 225px;
  height: 40px;
  position: absolute;
  border-radius: 120px;
}
.update-invent-item-text {
  top: 199px;
  left: 111px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text02 {
  top: 260px;
  left: 111px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text04 {
  top: 321px;
  left: 117px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text06 {
  top: 382px;
  left: 115px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text08 {
  top: 443px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text10 {
  top: 504px;
  left: 119px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text12 {
  top: 565px;
  left: 112px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text14 {
  top: 626px;
  left: 108px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-addsalesitemform {
  top: 195px;
  left: 342px;
  width: 1047px;
  height: 785px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.update-invent-item-rectangle49 {
  top: 0px;
  left: 0px;
  width: 1047px;
  height: 755px;
  position: absolute;
  border-color: rgba(50, 19, 117, 1);
  border-style: solid;
  border-width: 10px;
}
.update-invent-item-text16 {
  top: 215px;
  left: 49.1260986328125px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text18 {
  top: 285px;
  left: 49.1260986328125px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text20 {
  top: 145px;
  left: 49.1260986328125px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text22 {
  top: 75px;
  left: 49.1260986328125px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text24 {
  top: 425px;
  left: 49.1260986328125px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text26 {
  top: 355px;
  left: 51.17301940917969px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text28 {
  top: 285px;
  left: 51.17301940917969px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text30 {
  top: 495px;
  left: 49.1260986328125px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-text32 {
  top: 355px;
  left: 49.1260986328125px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-rectangle39 {
  top: 75px;
  left: 407.3372497558594px;
  width: 516px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.update-invent-item-rectangle51 {
  top: 145px;
  left: 407.3372497558594px;
  width: 516px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.update-invent-item-rectangle52 {
  top: 355px;
  left: 407.3372497558594px;
  width: 516px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.update-invent-item-rectangle56 {
  top: 285px;
  left: 407.3372497558594px;
  width: 516px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.update-invent-item-rectangle53 {
  top: 355px;
  left: 407.3372497558594px;
  width: 516px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.update-invent-item-rectangle57 {
  top: 285px;
  left: 407.3372497558594px;
  width: 516px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.update-invent-item-rectangle54 {
  top: 425px;
  left: 407.3372497558594px;
  width: 516px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.update-invent-item-rectangle55 {
  top: 495px;
  left: 407.3372497558594px;
  width: 516px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.update-invent-item-editbtn {
  top: 635px;
  left: 407.3372497558594px;
  width: 204.69207763671875px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(75, 37, 155, 1);
}
.update-invent-item-text34 {
  top: 10.79498291015625px;
  left: 33.43595886230469px;
  color: rgba(255, 255, 255, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-cancelbtn {
  top: 635px;
  left: 718.46923828125px;
  width: 204.69207763671875px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(75, 37, 155, 1);
}
.update-invent-item-text36 {
  top: 13.04345703125px;
  left: 30.780241012573242px;
  color: rgba(255, 255, 255, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-rectangle531 {
  top: 215px;
  left: 407.3372497558594px;
  width: 516px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.update-invent-item-title-inventory-management {
  top: 105px;
  left: 342px;
  width: 478px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.update-invent-item-rectangle76 {
  top: 0px;
  left: 0px;
  width: 478px;
  height: 62px;
  position: absolute;
}
.update-invent-item-text38 {
  top: 15px;
  left: 8px;
  color: rgba(50, 19, 117, 1);
  width: 456px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-topbar {
  top: -4px;
  left: 290px;
  width: 1151px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.update-invent-item-topbar1 {
  top: 0px;
  left: 0px;
  width: 1151px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.update-invent-item-rectangle2 {
  left: -3px;
  width: 1251px;
  bottom: -3px;
  height: 72px;
  position: absolute;
}
.update-invent-item-rectangle14 {
  top: 17px;
  left: 849.358642578125px;
  width: 120px;
  height: 30px;
  position: absolute;
  border-radius: 20px;
}
.update-invent-item-text40 {
  top: 24px;
  left: 849.358642578125px;
  color: rgba(30, 30, 30, 1);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.update-invent-item-mdiaccount {
  top: 6px;
  left: 1013.0784301757812px;
  width: 60px;
  height: 58px;
  position: absolute;
}
